@import '../../../styles/abstract/colors';

.DashItem {
  position: relative;
  margin-bottom: 0.3rem;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-grey;
  a {
    padding: 0.6rem 0;
    z-index: 5;
    position: relative;
    margin-left: 2.5rem;
    cursor: pointer;
    // width: 100%;
  }
}

.DashItem::before {
  z-index: 1;
  position: absolute;
  content: '';
  display: block;
  width: 90%;
  height: 100%;
  border-radius: 6px;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
  transform-origin: left;
}

.DashItem:hover:before {
  transform: scaleX(1);
  background-color: $color-primary;
}

.DashItem:hover a {
  color: $color-secondary;
  transition: color 0.3s ease-in-out;
}

.DashItem i {
  z-index: 5;
  transition: color 0.3s ease-in-out;
}

.DashItem:hover i {
  color: $color-secondary;
}

.active {
  &::before {
    background-color: $color-primary;
    transform: scaleX(1);
  }
  a,
  i {
    color: $color-secondary;
  }
}
