.Header {
  position: relative;
  margin-top: 8rem;
  display: flex;
  height: 80vh;
  width:100% ;
  justify-content: space-around;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}

.HeaderText {
  position: absolute;
  top: 10%;
  right: 0%;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 0 0.625rem;
  margin-bottom: 2.5rem;


  h3 {
    font-size: 3.125rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  p {
    font-size: 1.4rem;
    margin: 0.9rem 0;
    line-height: 1.7;
  }
}
