.Tabs {
  margin-top: 2rem;
  grid-column: 3 / span 6;
}

.TabList {
  justify-content: space-between;
  margin-bottom: 2rem;
}

.Tab {
  font-weight: bold;
  font-size: 1.1rem;
  opacity: 50%;
  transition: opacity 0.4s ease-in-out !important;
  margin-right: 1rem;
  &:focus {
    box-shadow: none !important;
  }
}
