@import '../../../styles/abstract/colors';
@import '../../../styles/mixins/mixins';

.ProfileIcon {
  @include Flexing(space-between, center,column);
  margin: 1rem 0;
  &__Img {
    @include CircleAvatar(8.75rem);
  }
  &__Name {
    color: $color-primary;
    padding: 0.5rem 0;
    margin: .5rem auto;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 3px solid $color-primary;
  }
}
