@import '../../styles/index';

.Modal {
  border-radius: 0.8rem;
  width: auto;
  &__Title {
    @include Title-lg(1rem, auto, 2rem, auto);
    text-align: center;
  }
}

.ModalCloseBtn {
  background-color: $color-primary;
  border-radius: 500px !important;
  z-index: 10;
  svg {
    color: $font-color-primary !important;
  }
}

.ModalBody {
  position: relative;
}

.ModalChildren {
  opacity: 1;
}

.ModalChildrenLoading {
  opacity: 0;
  pointer-events: none;
}

.ModalSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.ModalSpinnerLoading {
  opacity: 1;
}
