@import '../../../styles/abstract/colors';

.Input {
  border-color: $color-grey !important;
  border-radius: 4px !important;
  border: 2px solid !important;
  // margin-top: 1.5rem;
  // margin-bottom: 1.5rem;
  &::placeholder {
    color: $color-grey !important;
  }
}

.InputError {
  border-color: $color-error !important;
}