@import '../../styles/index';
.Footer {
  // background-color: $color-primary;
  background-color: $color-grey;
  margin-top: 3rem;
}

.FooterFirst {
  width: 85%;
  margin: 0 auto;
  // background-color: clr.$color-primary;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem 0;
  // margin-bottom: 1rem;
  border-bottom: 1px solid $font-color-primary;
}

.FooterAbout {
  width: 32%;
  & > * {
    color: $font-color-primary;
  }

  h4 {
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  p {
    text-align: justify;
    padding-right: 0.9rem;
    line-height: 2.5;
  }
}

.FooterQuickLinks {
  & > * {
    color: $font-color-primary;
  }

  h4 {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  ul {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1.8rem;
    row-gap: 0.9rem;
    margin-top: 0.7rem;
  }
}

.FooterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  h4 {
    color: $font-color-primary;
    font-size: 1.4rem;
  }
  .Input {
    border: 2px solid $font-color-primary;
    color: $font-color-primary;
    border-radius: 0;
    margin: 1rem 0;
    &::placeholder {
      font-size: 0.75rem;
      text-align: center;
    }
  }
}
