@import '../../../styles/abstract/colors';
@import '../../../styles/abstract/variables';

.WideCard {
  display: flex;
  align-items: center;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: $box-shadow-sm;
}

.ImgContainer {
  position: relative;
  min-width: 30.3rem;
  height: 23rem;
  img {
    visibility: inherit;
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}



.TextContainer {
  padding: 0 1.5rem;



  h3 {
    font-size:1.5rem ;
    font-weight: bold;
  }

  

  p {
      margin: .5rem 0;

    span {
      font-size: 1rem;
      font-weight: bold;
      margin-right: .5rem;
    }
  }
}
